@import './variables/colors';

header {
  display: grid;

  .banner {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;

    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  @keyframes arrow-jump {
    0% {
      bottom: 40px;
    }

    50% {
      bottom: 70px;
    }

    100% {
      bottom: 40px;
    }
  }

  .arrow-down {
    color: white;
    font-size: 2rem;
    position: relative;
    bottom: 40px;
    transition-duration: 0.3s;
    animation: arrow-jump 1.2s ease-in-out infinite;

    justify-self: center;
    align-self: end;
    grid-column: 1/-1;
    grid-row: 1/-1;

    &:hover {
      color: $color-gold;
    }
  }

  .socials {
    margin: 0 80px 40px 0;
    z-index: 1;

    justify-self: end;
    align-self: end;
    grid-column: 1/-1;
    grid-row: 1/-1;

    a {
      color: white;
      font-size: 2rem;
      transition-duration: 0.3s;

      &:nth-of-type(2) {
        /* Facebook icon */
        margin-left: 10px;
      }

      &:hover {
        color: $color-gold;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    .arrow-down {
      display: none;
    }

    .socials {
      a {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  header {
    .arrow-down {
      &:hover {
        color: white;
      }
    }

    .socials {
      a {
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;

    .socials {
      margin: 0 10px 10px 0;

      a {
        font-size: 1.8rem;
      }
    }
  }
}